{% extends "layout.html" %}
{% block sentence %}Welcome Folks{% endblock sentence %}
{% block content_sentence %}Hello World{% endblock content_sentence %}
{% block content %}
<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, alias quia! Beatae, vel dolores harum, laudantium iusto deserunt illo voluptatibus aut nisi, sit labore officia sequi ducimus repellendus? Maiores, molestias!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, alias quia! Beatae, vel dolores harum, laudantium iusto deserunt illo voluptatibus aut nisi, sit labore officia sequi ducimus repellendus? Maiores, molestias!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, alias quia! Beatae, vel dolores harum, laudantium iusto deserunt illo voluptatibus aut nisi, sit labore officia sequi ducimus repellendus? Maiores, molestias!</p>
</div>
{% endblock content %}